@font-face {
  font-family: 'VelaSans';
  font-style: normal;
  font-weight: 400;
  src: local('VelaSans-Regular'), url('../fonts/VelaSans-Regular.woff2') format('woff2'),
    url('../fonts/VelaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'VelaSans';
  font-style: normal;
  font-weight: 500;
  src: local('VelaSans-Medium'), url('../fonts/VelaSans-Medium.woff2') format('woff2'),
    url('../fonts/VelaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'VelaSans';
  font-style: normal;
  font-weight: 600;
  src: local('VelaSans-SemiBold'), url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
    url('../fonts/VelaSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'VelaSans';
  font-style: normal;
  font-weight: 700;
  src: local('VelaSans-Bold'), url('../fonts/VelaSans-Bold.woff2') format('woff2'),
    url('../fonts/VelaSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'VelaSans';
  font-style: normal;
  font-weight: 800;
  src: local('VelaSans-ExtraBold'), url('../fonts/VelaSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/VelaSans-ExtraBold.woff') format('woff');
}

:root {
  --white: #FFFFFF;
  --black: #272727;
  --text_grey: #575757;
  --background: #F4F5F6;
  --button: linear-gradient(180deg, #ADE3A4 0%, #75C368 100%);
  --button-hover: linear-gradient(360deg, #ADE3A4 0%, #5fa153 100%);
  --green: #6AB85D;
  --blue_grey: #445969;
  --block--grey: #EBEFF2;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'VelaSans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--text_grey);
  background-color: var(--background);
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  max-width: 1370px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs25 {
  font-size: 25px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs36 {
  font-size: 36px;
}

.fs48 {
  font-size: 48px;
  line-height: 57.6px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.flex {
  display: flex;
}

.sp-between {
  justify-content: space-between;
}

.aling-center {
  align-items: center;
}

.grid {
  display: grid;
}

.text-black {
  color: var(--black);
}

.btn {
  padding: 28px 65px;
  width: fit-content;
  border-radius: 72px;
  border: none;
  background: var(--button);
  color: var(--white);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  background-size: 300% 100%;
}

.btn:focus {
  background: var(--button-hover);
  outline: none;
}

.btn:hover {
  background: var(--button-hover);
}

.btn:active {
  background: var(--button-hover);
}

.grey-block {
  padding: 20px 42px;
  border-radius: 10px;
  background: var(--block--grey);
  line-height: 32px;
  justify-content: center;
}

.white-block {
  padding: 20px 30px;
  border-radius: 10px;
  background: var(--white);
  justify-content: center;
  line-height: 32px;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
}

/* !header */
.header__container {
  flex-direction: column;
}

.header-top {
  height: 72px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.header__nav {
  height: 72px;
  padding-bottom: 16px;
}

.logo {
  width: 132px;
  height: 24px;
}

.logo__img {
  width: 100%;
}

.close,
.burger {
  display: none;
}

.nav__list {
  min-height: 72px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.nav__list.white-block {
  justify-content: space-between;
  padding: 20px 22px;
}

.nav__item {
  white-space: nowrap;
  padding: 0 8px;
}

.nav__link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:focus {
  text-shadow: #4a8241 1px 0 5px;
  outline: none;
}

.header-tel:hover,
.header-mail:hover,
.nav__link:hover {
  text-shadow: #4a8241 1px 0 5px;
}

.nav__link:active {
  text-shadow: #4a8241 1px 0 5px;
}

/* !main */
.main__container {
  margin-bottom: 10px;
}

.main__content {
  flex-direction: column;
  flex: 1 1 55%;
  align-self: stretch;
  justify-content: space-evenly;
}

.main__text {
  margin-bottom: 34px;
}

.main__title {
  margin-bottom: 34px;
}

.main__info {
  line-height: 28.8px;
}

.main__img {
  flex: 1 1 45%;
}

.pets {
  width: 100%;
  height: 100%;
}

/* !results */
.results__container {
  margin-bottom: 130px;
}

.results__left {
  flex: 1 1 300px;
  flex-direction: column;
  padding-right: 20px;
}

.results__right {
  border-left: 1px solid var(--green);
  padding-left: 20px;
  padding-top: 22px;
  flex: 1 1 300px;
  flex-direction: column;
}

.results__title {
  margin-bottom: 60px;
}

.results__who {
  margin-bottom: 60px;
}

.who {
  flex-direction: column;
  gap: 30px;
  letter-spacing: 2.6px;
}

.who__block {
  gap: 30px;
}

.who__img {
  width: 116px;
  height: 116px;
  border-radius: 10px;
}

.who__text {
  width: 65%;
  letter-spacing: 0.5px;
  line-height: 28.6px;
}

.benefits {
  margin-bottom: 50px;
  line-height: 26px;
  max-width: 484px;
  align-self: flex-end;
}

.benefits__item {
  padding-bottom: 22px;
  list-style-type: none;
  gap: 15px;
}

.marker {
  min-width: 16px;
}

.marker-img {
  width: 16px;
  height: 16px;
}

.result {
  max-width: 484px;
  align-self: flex-end;
  text-transform: uppercase;
  line-height: 34px;
}

/* ! help */
.help__container {
  margin-bottom: 100px;
  gap: 30px;
}

.help__left,
.help__right {
  flex-direction: column;
}

.help__left {
  flex: 1 1 400px;
  gap: 30px;
}

.help__description {
  line-height: 28.6px;
}

.help__money {
  gap: 28px;
  line-height: 28.6px;
}

.orange-line {
  min-width: 64px;
}

.contact__tg,
.contact__ws {
  width: 72px;
  height: 72px;
}

.consult {
  flex-wrap: wrap;
  justify-content: center;
}

.consult,
.contact {
  gap: 10px;
}

.help__right {
  flex: 0 0 480px;
  gap: 30px;
  justify-content: center;
}

.help__block {
  min-height: 170px;
  position: relative;
}

.corner {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ! work */
.work__container {
  margin-bottom: 100px;
}

.work__title {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.work__item {
  width: 100%;
  position: relative;
}

.work__list,
.work__item {
  flex-direction: column;
}

.work__list {
  gap: 32px;
}

.work__level {
  width: 108px;
  height: 36px;
  background-color: var(--white);
  gap: 7px;
  border-radius: 48px;
  max-width: 696px;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -15px;
  z-index: 5;
}

.skew {
  position: relative;
  padding: 30px 60px 20px 60px;
  justify-content: center;
  text-align: center;
  color: var(--blue_grey);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

.skew.skew7 {
  color: var(--white);
}

.skew1 {
  max-width: 1170px;
  min-height: 67px;
  background-image: url('../img/line1.svg');
}

.skew2 {
  max-width: 1052px;
  min-height: 67px;
  background-image: url('../img/line2.svg');
}

.skew3 {
  max-width: 956px;
  min-height: 67px;
  background-image: url('../img/line3.svg');

}

.skew4 {
  max-width: 860px;
  min-height: 67px;
  background-image: url('../img/line4.svg');
}

.skew5 {
  max-width: 774px;
  min-height: 67px;
  background-image: url('../img/line5.svg');
}

.skew6 {
  max-width: 696px;
  min-height: 92px;
  background-image: url('../img/line6.svg');
}

.skew7 {
  max-width: 604px;
  min-height: 98px;
  background-image: url('../img/line7.svg');
}

.work__table {
  margin-bottom: 54px;
}

.work__bottom {
  margin-bottom: 52px;
  gap: 50px;
}

.lids {
  padding-top: 20px;
  flex: 1 1 50%
}

.lids__text {
  border-left: 1px solid var(--green);
  padding-left: 20px;
  line-height: 28.6px;
}

.bots {
  width: 460px;
  flex: 1 1 458px;
  align-self: center;
}

.bots.grey-block {
  padding-right: 20px;
}

.work__consult {
  justify-content: center;
}


/* ! cases */
.cases__container {
  margin-bottom: 100px;
}

.cases__title {
  text-align: center;
  margin-bottom: 50px;
}

.cases__gap {
  gap: 20px;
}

.cases__content,
.cases__quest {
  flex-direction: column;
  gap: 20px;
}

.cases__content {
  flex: 1 1 40%;
}

.cases__quest {
  flex: 1 1 60%;
}

.cases__block {
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  min-height: 198px;
}

.cases__stat {
  max-height: 197px;
  gap: 10px;
}

.cases__stat img {
  display: block;
  width: 48%;
  height: auto;
}

.cases__question {
  flex-direction: column;
  gap: 20px;
  min-height: 198px;
  height: -webkit-fill-available;
}


/* ! question */
.question__title {
  text-align: center;
  margin-bottom: 20px;
}

.question__container {
  margin-bottom: 64px;
}

.question__left {
  flex: 1 1 45%;
  gap: 30px;
  flex-direction: column;
}

.question__right {
  flex: 1 1 55%;
  gap: 20px;
  min-height: 428px;
  max-width: 631px;
}

.question__gap {
  gap: 40px;
  margin-bottom: 56px;
}

.question__right {
  flex-direction: column;
}

.question__consult {
  justify-content: center;
}

.contacts__content {
  flex-direction: column;
  flex: 1 1 60%;
  gap: 30px;
}

.contacts__img {
  flex: 1 0 40%;
}

.contacts__info {
  line-height: 28.8px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 90%;
}

.input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 72px;
  color: var(--text_grey);
  background-color: #EBEEF2;
  letter-spacing: 1.6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input:active,
.input:focus {
  outline: none;
}

.input-group {
  width: 472px;
  height: 48px;
  border-radius: 72px;
  color: var(--text_grey);
  background-color: #EBEEF2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}

.icon {
  padding: 0 10px 0 20px;
}

.form-btn {
  position: absolute;
  right: 0;
}

.footer {
  margin-bottom: 130px;
}

.footer-block {
  border: 1px solid #E4EAEE;
  padding: 25px 0;
  line-height: 48px;
  justify-content: center;
  text-align: center;
}

.footer-block p {
  width: 80%;
}

@media (max-width: 1360px) {
  .skew1 {
    background-size: cover;
  }
}

@media (max-width: 1275px) {
  .skew2 {
    background-size: cover;
  }
}

@media (max-width: 1180px) {
  .skew3 {
    background-size: cover;
  }
}

@media (max-width: 1080px) {
  .skew4 {
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  .skew4 {
    background-size: 100% 100%;
  }
}

@media (max-width: 964px) {
  .skew4 {
    background-size: cover;
  }
}

@media (max-width: 876px) {
  .skew5 {
    background-size: cover;
  }
}

@media (max-width: 793px) {
  .skew6 {
    background-size: cover;
  }
}

@media (max-width: 706px) {
  .skew7 {
    background-size: cover;
  }
}



@media (max-width: 1244px) {
  .help__block {
    min-height: 235px;
  }

  .help__right {
    flex: 0 0 370px;
  }
}

@media (max-width: 1183px) {
  .header__container {
    margin-bottom: 30px;
  }

  .main__container {
    margin-bottom: 100px;
  }

  .form {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .form-btn {
    position: relative;
  }

  .contacts__container {
    margin-bottom: 30px;
  }

}

@media (max-width: 1000px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 943px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .work__bottom {
    flex-direction: column;
  }

  .bots {
    flex: auto;
    width: auto;
  }
}

@media (max-width: 866px) {
  .header-center {
    position: absolute;
    top: 15px;
    left: calc(50% - 66px);
  }

  .burger {
    display: block;
    border: none;
    background-color: var(--background);
  }

  .close {
    display: block;
    width: 30px;
    height: 30px;
    padding: 3px;
    fill: #fff;
    background-color: var(--white);
    border: none;
    cursor: pointer;
  }

  .burger__icon,
  .close__icon {
    fill: var(--primary);
  }

  .header__nav {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    padding: 15px 0;
    order: 1;
    height: 50px;
  }

  .header-top {
    order: 2;
  }

  .header__nav .nav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 320px;
    height: 541px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: var(--white);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .header__nav .nav__is-active {
    -webkit-transform: none;
    transform: none;
  }

  .nav_is-active {
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    padding: 106px 114px;
    width: 100%;
    height: 100vh;
    background-color: var(--bc-grey);
    z-index: 4;
  }

  .nav_is-active .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: 250px;
    height: 188px;
    font-size: 30px;
  }

  .nav__list {
    min-height: auto;
    flex-direction: column;
  }

  .nav__list.fs12 {
    font-size: 20px;
    gap: 20px;
  }

  .nav_is-active .nav__item {
    margin-bottom: 64px;
  }

  .results__title {
    text-align: center;
    max-width: 425px;
    margin: auto;
    margin-bottom: 30px;
  }

  .results__container {
    flex-direction: column;
  }

  .results__left,
  .results__right {
    padding: 0;
  }

  .results__left {
    margin-bottom: 30px;
  }

  .results__right {
    border-left: none;
  }

  .results-btn {
    margin: auto;
  }

  .benefits,
  .result {
    max-width: 100%;
  }

  .help__title {
    text-align: center;
  }

  .help__container {
    flex-direction: column;
  }

  .help__block {
    min-height: 163px;
  }

  .input-group {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .main__container,
  .help__container,
  .results__container,
  .work__container,
  .cases__container,
  .question__container {
    margin-bottom: 50px;
  }

  .cases__gap {
    flex-direction: column;
  }

  .question__gap {
    flex-direction: column;
  }

  .question__left,
  .question__right {
    flex: auto;
  }

  .question__right {
    max-width: none;
  }

  .cases__question,
  .question__right {
    min-height: fit-content;
  }

  .main__container,
  .contacts__container {
    flex-direction: column;
  }

  .main__img,
  .contacts__img {
    max-width: 400px;
  }

  .main__title {
    text-align: center;
    margin: auto;
    margin-bottom: 34px;
  }

  .main__info {
    text-align: center;
    margin: auto;
  }

  .main-btn {
    margin: auto;
  }

  .input-group {
    width: 427px;
  }

  .form {
    flex-direction: row;
  }

  .form-btn {
    position: absolute;
  }
}

@media (max-width: 650px) {
  .fs48 {
    font-size: 40px;
    line-height: 46.6px;
  }

  .fs30 {
    font-size: 24px;
  }

  .fs28 {
    font-size: 24px;
  }

  .btn {
    padding: 23px 40px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .who__block {
    flex-direction: column;
  }

  .who__text {
    width: 100%;
    text-align: center;
  }

  .result {
    text-align: center;
  }

  .form {
    flex-direction: column;
  }

  .form-btn {
    position: relative;
  }

  .contacts__title {
    margin: auto;
    text-align: center;
  }

  .fs36 {
    font-size: 30px;
  }

  .section-title {
    font-size: 30px;
    line-height: 41px;
  }

  .footer-block {
    line-height: 35px;
  }
}

@media (max-width: 500px) {
  .input-group {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .btn {
    padding: 23px 16px;
  }
}

/* Если менять график, то можно это применить к блокам
transform: perspective(72px) rotateX(355deg);
    background-color: red;
    width: calc(100% - 26px);
}
 */